
.movieModal__stars-items {
  position: absolute;
  display: flex;
  list-style: none;
  padding: 0;

  top: 7px;
}

.movieModal__star input {
  display: none;
}

.movieModal__star {
  box-sizing: border-box;
  width: 20px;
  height: 20px;

  margin-right: 5px;

  border-radius: 30px;
  border: 1px solid black;
}

.movieModal__star--active {
  background-color: gold;
}

.movieModal__star:hover {
  border: 2px solid black;
}



