.movieForm {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 980px;
  min-height: 500px;
  margin: 0 auto;

  background-color: white;
  box-shadow: 0px 0px 10px 2px gray;

}

.movieForm__inputs {
  display: flex;
  flex-wrap: wrap;

  max-width: 500px;

  justify-content: flex-start;


}

.movieForm__inputs input {
  min-width: 50%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.movieForm__inputs label {


  min-width: 50%;
}

.movieForm__inputs textarea {
  width: 100%;
}