.comment {
    margin-bottom: 30px;
}

.comment__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment__user {
    font-weight: bold;
    margin: 0;
}

.comment__text {
    margin-bottom: 10px;
}