.comment-form {
    display: flex;
    flex-direction: column;

    padding: 20px;
    border: 1px solid brown
}

.comment-form input {
    max-width: 300px;
    box-sizing: border-box;

    margin-bottom: 20px;
}

.comment-form textarea {
    max-width: 300px;
    box-sizing: border-box;

    margin-bottom: 20px;
}

.btn {
    display: block;
    padding: 10px;
    background-color: darkseagreen;
    border-radius: 5px;
}

.comment-form__addComment {
    max-width: 200px;
}