
.header__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding-right: 20px;

  background-color: #565656;
  box-sizing: border-box;
}

.header__title {
  width: 15%;
  margin: 0;
  text-align: right;


  font-size: 25px;
  line-height: 50px;
  color: #ffbd17;
  font-weight: bold;
}







