.movieModal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0,0,0,0.8);
    z-index: 9999;


}

.movieModal__container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;

    box-sizing: border-box;
    width: 90%;
    height: 95%;
    overflow: auto;

    background-color: gainsboro;
}

.movieModal__close {
    position: relative;
    content: "";
    top: -20px;
    left: 98%;

    width: 35px;
    height: 35px;

    font-size: 0;
}



.movieModal__title {
    flex-basis: 100%;
}

.movieModal__info {
    display: flex
}

.movieModal__picture {
       margin-right: 50px;
       width: 200px;
       height: 300px;

}

.movieModal__picture img {
    width: 200px;
    height: 300px;
    display: block;
}

.movieModal__data {
    display: flex;

    list-style: none;
    padding-left: 0;
    flex-direction: column;
    
    font-size: 20px;
}

.movieModal__data li {
    margin-bottom: 20px;
}

.movieModal__data span {
    font-weight: bold;
    margin-right: 50px;
}

.movieModal__year {
}

.movieModal__top-block {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.movieModal__top-block span {
    display: block;
    min-width: 130px;
}

