.movieModal {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 85%;

    background-color: coral;
}

.movieModal__close {
    position: relative;
    content: "";
    top: -20px;
    left: 98%;

    width: 35px;
    height: 35px;

    font-size: 0;
}



.movieModal__title {
    flex-basis: 100%;
}

.movieModal__info {
    display: flex
}

.movieModal__picture {
       margin-right: 50px;

}

.movieModal__picture img {
    width: 200px;
    height: 300px;
    display: block;
}

.movieModal__data {
    display: flex;
    flex-direction: column;
}

