.movieList--item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    
    width: 300px;
    height: 400px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 20px;   
}

.movieList--item-picture {
    width: 100%;
    height: 300px;
    
    background-image: url('../../img/гладиатор.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.movieList--item-title {
    text-align: center
}

.movieList--item:hover {
    border: 2px solid blue;
}

.movieList--item:active {
    border: 2px solid red;
}